$--primary-color: #173ab3;
$--dark-color: #2d3442;
$--dark-light-color: #687684;
$--secondary-color: #828894;
$--danger-color: #ec3638;

.text {
  color: #000000;
  font-size: 12px;

  &_type {
    &_bold {
      font-weight: 600;
    }
  }

  &_size {
    &_l {
      font-size: 14px;
    }

    &_xl {
      font-size: 16.8px;
    }
  }

  &_color {
    &_dark {
      color: $--dark-color;
    }

    &_dark-light {
      color: $--dark-light-color;
    }

    &_secondary {
      color: $--secondary-color;
    }

    &_primary {
      color: $--primary-color;
    }

    &_danger {
      color: $--danger-color;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: 800;

  &_color {
    &_primary {
      color: $--primary-color;
    }
  }
}

.subtitle {
  color: #000000;
  font-size: 16px;

  &_type {
    &_bold {
      font-weight: 600;
    }
  }
}
