.pie {
  display: flex;
  &__chart {
    display: flex;
    flex-direction: column;
  }
  &_type {
    &_vertical {
      flex-direction: column;
    }
    &_horizontal {
    }
  }
  &__title {
    // text-align: center;
    margin: 1em auto;
  }
  &__labels {
    padding: 0 2em;
  }
  &__label {
    display: flex;
    align-items: center;
  }
  &__point {
    margin-right: 0.5em;
  }
  &__labelName {
    flex: 1;
  }
}
