.pie {
  display: flex;
  &__chart {
    display: flex;
    flex-direction: column;
  }
  &_type {
    &_vertical {
      flex-direction: column;
    }
    &_horizontal {
    }
  }
  &__title {
    // text-align: center;
    margin: 1em auto;
  }
  &__labels {
    padding: 0 2em;
  }
  &__label {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 2px;
  }
  &__point {
    margin-right: 0.5em;
  }
  &__labelName {
    flex: 1;
  }
}

.pieTooltip {
  padding: 0.5em;
  border-radius: 2px;
  background: #f8f9fb;
  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__label {
    margin-right: 0.5em;
    &::after {
      content: ':';
    }
  }
  &__value {
    flex: 1;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top-color: #f8f9fb;
    border-top-style: solid;
    border-top-width: 6px;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
  }
}
