.funnel-part {
  display: grid;
  grid-template-areas:
    'top top'
    'body-funnel body-description'
    'bottom bottom';
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr 50px;
}

.top {
  grid-area: top;
  display: flex;
}

.checkboxes {
  display: flex;
  // align-items: center;
}

.bottom {
  grid-area: bottom;
  align-items: center;
  display: flex;
}

.body-funnel {
  grid-area: body-funnel;
}

.bodyDescription {
  grid-area: body-description;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2em;

  &__title {
    margin-bottom: 1em;
  }

  &__value {
    display: inline-block;
    margin-right: 0.5em;

    &::after {
      content: ':';
    }
  }

  &__item {
    &:first-child {
      margin-right: 1em;

      &::after {
        content: ':';
      }
    }
  }
}

.label {
  margin-right: 20px;
  display: flex;
  align-items: center;

  &__name {
    margin-left: 0.625em;
  }
}
