%flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  @extend %flex-column;

  &__body {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(73, 105, 194, 0.1);
    border-radius: 8px;
    padding: 20px 30px;
    box-sizing: border-box;
    min-height: 246px;
    @extend %flex-column;
  }

  &__back {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
    &:hover * {
      color: #001fa7;
    }
  }
  &__backIcon {
    margin-right: 0.5em;
    color: #2c87ec;
  }
}

.bodyTitle {
  margin-bottom: 1em;
}
.bodyContent {
  @extend %flex-column;
  justify-content: space-between;
  flex: 1;
}

.labels {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  @extend %flex-column;
  &__title {
    margin-bottom: 0.25em;
  }
}

.label {
  display: flex;
  align-items: center;
  margin-right: 1.125em;
  &__name {
    margin-right: 0.5em;
    &::after {
      content: ':';
    }
  }
}
