.dashboard {
  display: grid;
  grid-template-areas:
    'cards cards'
    'funnel table';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 1fr;
}

.cards {
  grid-area: cards;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__card {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.funnel {
  grid-area: funnel;
}

.table {
  grid-area: table;
}
